
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe0f4;
    color: #5598f0;

  }

  .dark-mode{
    background-color:#2b011d;
    button {
        padding: 10px 20px;
        background-color: #ad187c;
        color:#a5cbfd;
        border: dotted;
    }

  }

  header {
    padding: 20px;
    
    justify-content: space-between;
    text-align: center;
  }
  

  main {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  button {
    padding: 10px 20px;
    background-color: #ff9bde;
    color:#5598f0;
    border: dotted;
    margin: 10px;
}
label {
    margin-bottom: 10px;
}
input[type="text"],
textspace{
    margin-bottom: 10px;
    padding: auto;
}
